---
import { RssIcon } from "lucide-solid";

import { t, l } from "@/i18n";
import { css } from "@/style/css";
import { vstack } from "@/style/patterns";

const footerStyle = css({
  width: "full",
  flexDirection: "column",
  py: 10,
  gap: 0,
  justifyContent: "center",
  alignItems: "center",
  mx: "auto",
  px: "6",
});

const footerHrStyle = css({
  w: "full",
  mx: "auto",
  mb: 10,
  borderWidth: 0.5,
  borderRadius: 999,
  md: { maxWidth: "1/2" },
});

const footerTextContainerStyle = vstack({
  w: "full",
  gap: "5",
  justifyContent: "center",
  alignItems: "center",
  textStyle: "small",
});

const footerTextStyle = css({
  width: "full",
  textStyle: "small",
  textAlign: "center",
});

const footerLinkStyle = css({
  display: "inline-flex",
  gap: "2",
  fontWeight: "bold",
  textDecoration: "underline",
  _hover: {
    backgroundColor: "orange.100",
  },
});
---

<footer class={footerStyle}>
  <hr class={footerHrStyle} />
  <div class={footerTextContainerStyle}>
    <p class={footerTextStyle}>
      {t("common:footer.credits")}
    </p>
    <a href={l("/rss.xml")} class={footerLinkStyle}>
      <RssIcon />
      {t("common:footer.rss")}
    </a>
  </div>
</footer>
