---
import { t, astroI18n } from "astro-i18n";
import { LOCALE_FULL_NAME, type SupportedLanguage } from "@/utils/i18n";

import { Cloudinary, Transformation } from "@cloudinary/url-gen";
import { TextStyle } from "@cloudinary/url-gen/qualifiers/textStyle";
import { source } from "@cloudinary/url-gen/actions/overlay";
import { text } from "@cloudinary/url-gen/qualifiers/source";
import { northWest } from "@cloudinary/url-gen/qualifiers/compass";
import { size } from "@cloudinary/url-gen/qualifiers/textFit";
import { Position } from "@cloudinary/url-gen/qualifiers";
import { compass } from "@cloudinary/url-gen/qualifiers/gravity";

const cld = new Cloudinary({
  cloud: { cloudName: "dp84qkgfp" },
});

function getPageMetadataImage(title: string) {
  const image = cld.image("christopher2k.dev/open-graph/template.png");
  const transformation = new Transformation().overlay(
    source(
      text(title, new TextStyle("Lato", 54).fontWeight("900"))
        .textColor("#FAFAFA")
        .textFit(size(640, 280)),
    ).position(
      new Position().gravity(compass(northWest())).offsetX(60).offsetY(92),
    ),
  );
  return image.addTransformation(transformation).toURL();
}

interface Props {
  title?: string;
  description?: string;
  forceUseDefaultOgTitle?: boolean;
  ogType?: "website" | "article";
}

const {
  title = t("seo.defaultTitle"),
  description = t("seo.defaultDescription"),
  forceUseDefaultOgTitle,
  ogType = "website",
} = Astro.props;

const ogTitle = forceUseDefaultOgTitle
  ? (t("seo.defaultOgTitle") as string)
  : title;

const { locale } = astroI18n;

const currentLocaleFullName =
  LOCALE_FULL_NAME[locale as unknown as SupportedLanguage] ??
  LOCALE_FULL_NAME.en;

const ogImage = getPageMetadataImage(ogTitle);
const ogImageAlt = t("seo:defaultOgImageAlt", { title: ogTitle });
---

<title>{t("seo.titleTemplate", { title })}</title>

<meta name="robots" content="index, follow" />
<meta name="description" content={description} />

<meta property="og:type" content={ogType} />
<meta property="og:title" content={ogTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImage} />
<meta property="og:url" content={Astro.url.pathname} />

<meta property="og:locale" content={currentLocaleFullName} />

<meta property="og:image:url" content={ogImage} />

<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="627" />
<meta property="og:image:alt" content={ogImageAlt} />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@llcoolchris_" />
<meta name="twitter:creator" content="@llcoolchris_" />
<meta name="twitter:title" content={ogTitle} />
<meta name="twitter:image" content={ogImage} />
<meta name="twitter:image:alt" content={ogImageAlt} />
<meta name="twitter:description" content={description} />
