---
import {
  TwitterIcon,
  TwitchIcon,
  LinkedinIcon,
  GithubIcon,
  YoutubeIcon,
} from "lucide-solid";

import { t } from "@/i18n";
import { hstack } from "@/style/patterns";
import { linkedin, twitch, twitter, github, youtube } from "@/utils/link";
---

<ul
  class={hstack({
    justifyContent: "flex-start",
    alignItems: "center",
    gap: 4,
  })}
>
  <li>
    <a href={github} target="_blank" aria-label={t("common:footer.github")}>
      <GithubIcon />
    </a>
  </li>
  <li>
    <a href={twitter} target="_blank" aria-label={t("common:footer.twitter")}>
      <TwitterIcon />
    </a>
  </li>

  <li>
    <a href={twitch} target="_blank" aria-label={t("common:footer.twitch")}>
      <TwitchIcon />
    </a>
  </li>

  <li>
    <a href={youtube} target="_blank" aria-label={t("common:footer.twitch")}>
      <YoutubeIcon />
    </a>
  </li>
  <li>
    <a href={linkedin} target="_blank" aria-label={t("common:footer.linkedin")}>
      <LinkedinIcon />
    </a>
  </li>
</ul>
