---
import "@/index.css";
import { t, l } from "@/i18n";
import SEO from "@/components/SEO.astro";
import Footer from "@/components/Footer.astro";

import { css } from "@/style/css";

const mainStyle = css({
  py: "10",
  width: "100%",
  maxWidth: "contentWidth",
  mx: "auto",
});

export interface Props {
  title: string;
  description?: string;
  forceUseDefaultOgTitle?: boolean;
  ogType?: "website" | "article";
}

const { title, description, forceUseDefaultOgTitle } = Astro.props;
---

<html lang={Astro.currentLocale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="stylesheet" href="/app.css" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/IBMPlexMono-Regular.woff2"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/IBMPlexMono-Bold.woff2"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/IBMPlexSansCond-Regular.woff2"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/IBMPlexSansCond-Bold.woff2"
      crossorigin
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={t("rss:title")}
      href={new URL(
        l("/rss.xml", { targetLocale: Astro.currentLocale }),
        Astro.site,
      )}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO {title} {description} {forceUseDefaultOgTitle} />
    <script
      defer
      data-domain="christopher.engineering"
      src="https://plausible.lab.llcoolserver.dev/js/script.js"></script>
  </head>

  <body>
    <main class={mainStyle}>
      <slot />
      <Footer />
    </main>
  </body>
</html>
