---
import { vstack } from "@/style/patterns";
import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";

import Base from "./Base.astro";

interface Props {
  title: string;
  description?: string;
  ogType?: "website" | "article";
  frUrl: string;
  enUrl: string;
}

const { title, description, ogType, frUrl, enUrl } = Astro.props;
---

<Base {title} {description} forceUseDefaultOgTitle {ogType}>
  <Navigation {frUrl} {enUrl} />
  <main
    class={vstack({
      w: "full",
      p: "6",
      justifyContent: "flex-start",
      alignItems: "flex-start",
    })}
  >
    <slot />
    <Footer />
  </main>
</Base>
